<form role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-body">
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}  <!-- Display errors for each field -->
                {{ field.label_tag }}  <!-- Display the label for each field -->
                
                {% if field.name == 'roll_no' %}
                    {% if user.is_staff %}
                        {{ field }}  <!-- Editable input for roll number if admin -->
                    {% else %}
                        <input type="text" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value }}" readonly class="form-control">  <!-- Read-only input for roll number if student -->
                    {% endif %}
                {% else %}
                    {{ field }}  <!-- Render other fields normally -->
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">
            {% if button_text %}
                {{ button_text }}
            {% else %}
                Submit
            {% endif %}
        </button>
    </div>
</form>
